{% extends "layout.html" %}

{% block body %}

<div class="container-fluid">


	<div class="row clearfix">
		<div class="col-md-12 column">
		</div>
	</div>


	<div class="row clearfix">
		<div class="col-md-12 column">

			<div class="row clearfix">

					<div class="col-md-2 column">
					</div>

					<div class="col-md-8 column" id="content">
							<h1 class="text-center" id="masthead">
								Going Postal
							</h1>

							<div class="row clearfix">
								<div class="col-md-2 column">
								</div>

								<div class="col-md-8 column">
									<h2 class="text-center">
										Package tracking for shoppers
									</h2>
									<a href="{{url_for('login')}}" class="btn btn-lg btn-block btn-default" id="cover-button">Track my Shipments!</a>
								</div>

								<div class="col-md-2 column">
								</div>

							</div>
					</div>

					<div class="col-md-2 column">
					</div>

			</div>

		</div>
	</div>


	<div class="row clearfix">
		<div class="col-md-12 column">
			<p class="text-right">
				Photo: <a href="https://www.flickr.com/photos/28919802@N04/13243871354/in/photolist-mbjixy-dpHq1N-5nbk1k-dpHfnF-nJTiKH-svEHj-jd1C5d-6YcQeC-nJRdnw-7CJftu-8B2jFA-6fXFp6-6eH64r-tdTV-59kqKq-4n5nkV-48RkQN-7ReRnx-6PcfAb-2SdAhh-4Mgyrd-LmmS2-71a1fs-jZPnwG-aVc6oe-qE5YF-2gtwPD-dvJTsE-aPXu6R-DW9e7-4gnDA1-7C1wKm-NpSib-aQX8sP-5iyZNo-a6Czsh-neLzVj-2SdDwh-dy3aUw-3PZ4c-aNofwM-41swNv-kBBfu-2SaoSs-9sNxG3-2S74mm-2S7jVb-mC8QTL-dxmuK3-5LkGYe">Fabian Reus</a>
			</p>
			<p class="text-center">
				Copyright Emily Manders
			</p>
		</div>
	</div>


</div>

{% endblock %}
