<html>
    <head>
        <title>Going Postal</title>
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
        <style type="text/css">
          html { height: 100% }
          body { height: 100%; margin: 0; padding: 0 }
          #map-canvas { height: 100% }
        </style>
        <script type="text/javascript"
          src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAXorWmQbNW4J7fGwSSpoZjjd9IgNvOGSQ">
        </script>
        <script type="text/javascript">
          function initialize() {
            var mapOptions = {
              center: new google.maps.LatLng(-34.397, 150.644),
              zoom: 8
            };
            var map = new google.maps.Map(document.getElementById("map-canvas"),
                mapOptions);
          }
          google.maps.event.addDomListener(window, 'load', initialize);
        </script>
    </head>
    <body>
        <h1>Going Postal</h1>
        {% if 'user_id' in session %}
        <a href="{{url_for('logout')}}">{{session['user_email']}} Logout</a>
        {% endif %}
        <div id="message-flash">
        {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            <ul>
                {% for category, message in messages %}
                <li class="{{category}}">{{message}}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {% endwith %}
        </div>
        {% block body %}
        {% endblock %}
    </body>
</html>
