<html>
    <head>
        <title>Going Postal</title>
    </head>
    <body>
        <h1>Going Postal</h1>
        {% if 'user_id' in session %}
        <a href="{{url_for('show_map')}}">My Shipments</a>
        <a href="{{url_for('logout')}}">{{session['user_email']}} Logout</a>
        {% endif %}
        <div id="message-flash">
        {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            <ul>
                {% for category, message in messages %}
                <li class="{{category}}">{{message}}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {% endwith %}
        </div>
        {% block body %}
        {% endblock %}
    </body>
</html>
